Repository TeethCareProject/teethcare-backend, pull requests merged in 2022-06, with the labels that each got.

#46 hot-fix-brackets
  src/main/java/com/teethcare/controller/FeedbackController.java
  src/main/java/com/teethcare/service/impl/booking/BookingServiceImpl.java
Labels: Kim Anh review please

#45 Teet 168 store image
  pom.xml
  src/main/java/com/teethcare/config/firebase/FirebaseConfig.java
  src/main/java/com/teethcare/controller/AccountController.java
  src/main/java/com/teethcare/controller/ClinicController.java
  src/main/java/com/teethcare/controller/ServiceOfClinicController.java
  src/main/java/com/teethcare/repository/ServiceRepository.java
  src/main/java/com/teethcare/service/AccountService.java
  src/main/java/com/teethcare/service/ClinicService.java
  src/main/java/com/teethcare/service/FileService.java
  src/main/java/com/teethcare/service/ServiceOfClinicService.java
  src/main/java/com/teethcare/service/impl/account/AccountServiceImpl.java
  src/main/java/com/teethcare/service/impl/booking/ClinicServiceImpl.java
  src/main/java/com/teethcare/service/impl/booking/ServiceOfClinicServiceImpl.java
  src/main/java/com/teethcare/service/impl/file/FileServiceImpl.java
  src/main/resources/application.properties
Labels: Kim Anh review please

#48 Hot fix working time clinic
  src/main/java/com/teethcare/service/impl/booking/BookingServiceImpl.java
  src/main/java/com/teethcare/service/impl/email/EmailServiceImpl.java
  src/main/java/com/teethcare/utils/ConvertUtils.java
  src/main/resources/application.properties
Labels: Kim Anh cho lên main đi :>

#52 hot fix get booking for dentist
  src/main/java/com/teethcare/repository/BookingRepository.java
  src/main/java/com/teethcare/service/impl/booking/BookingServiceImpl.java
Labels: Kim Anh cho lên main đi :>

#50 Teet 170 check available time
  src/main/java/com/teethcare/common/Status.java
  src/main/java/com/teethcare/config/security/SecurityConfig.java
  src/main/java/com/teethcare/controller/BookingController.java
  src/main/java/com/teethcare/mapper/BookingMapper.java
  src/main/java/com/teethcare/mapper/ClinicMapper.java
  src/main/java/com/teethcare/mapper/ServiceOfClinicMapper.java
  src/main/java/com/teethcare/model/entity/Appointment.java
  src/main/java/com/teethcare/model/entity/Booking.java
  src/main/java/com/teethcare/model/request/CheckAvailableTimeRequest.java
  src/main/java/com/teethcare/model/request/GetAvailableTimeRequest.java
  src/main/java/com/teethcare/model/response/AppointmentResponse.java
  src/main/java/com/teethcare/model/response/BookingResponse.java
  src/main/java/com/teethcare/model/response/CheckAvailableTimeResponse.java
  src/main/java/com/teethcare/model/response/ClinicLoginResponse.java
  src/main/java/com/teethcare/model/response/ClinicSimpleResponse.java
  src/main/java/com/teethcare/model/response/GetAvailableTimeResponse.java
  src/main/java/com/teethcare/model/response/ServiceOfClinicResponse.java
  src/main/java/com/teethcare/repository/BookingRepository.java
  src/main/java/com/teethcare/service/BookingService.java
  src/main/java/com/teethcare/service/impl/account/DentistServiceImpl.java
  src/main/java/com/teethcare/service/impl/booking/AppointmentServiceImpl.java
  src/main/java/com/teethcare/service/impl/booking/BookingServiceImpl.java
  src/main/java/com/teethcare/utils/TimeUtils.java
  src/main/resources/application.properties
Labels: Kim Anh cho lên main đi :>

#51 Teet 176 be update validation for rejecting booking from patient
  src/main/java/com/teethcare/common/Constant.java
  src/main/java/com/teethcare/common/NotificationMessage.java
  src/main/java/com/teethcare/common/NotificationType.java
  src/main/java/com/teethcare/config/security/UserDetailUtil.java
  src/main/java/com/teethcare/controller/BookingController.java
  src/main/java/com/teethcare/model/dto/BookingConfirmationDTO.java
  src/main/java/com/teethcare/model/entity/Booking.java
  src/main/java/com/teethcare/model/request/RejectedRequest.java
  src/main/java/com/teethcare/service/BookingService.java
  src/main/java/com/teethcare/service/EmailService.java
  src/main/java/com/teethcare/service/impl/booking/AppointmentServiceImpl.java
  src/main/java/com/teethcare/service/impl/booking/BookingServiceImpl.java
  src/main/java/com/teethcare/service/impl/email/EmailServiceImpl.java
  src/main/java/com/teethcare/utils/ConvertUtils.java
  src/main/java/com/teethcare/utils/MailTemplateUtils.java
  src/main/resources/RejectBooking.html
  src/main/resources/application.properties
Labels: Kim Anh cho lên main đi :>

#54 Hot fix update checkin
  src/main/java/com/teethcare/common/Message.java
  src/main/java/com/teethcare/controller/AuthController.java
  src/main/java/com/teethcare/controller/BookingController.java
  src/main/java/com/teethcare/exception/InternalServerError.java
  src/main/java/com/teethcare/service/BookingService.java
  src/main/java/com/teethcare/service/impl/booking/BookingServiceImpl.java
  src/main/resources/application.properties
Labels: BE review please

#49 TEET_178_EVALUATE_CLINIC
  src/main/java/com/teethcare/common/Constant.java
  src/main/java/com/teethcare/controller/ClinicController.java
  src/main/java/com/teethcare/model/dto/ClinicApprovementDTO.java
  src/main/java/com/teethcare/service/ClinicService.java
  src/main/java/com/teethcare/service/EmailService.java
  src/main/java/com/teethcare/service/impl/booking/ClinicServiceImpl.java
  src/main/java/com/teethcare/service/impl/email/EmailServiceImpl.java
  src/main/java/com/teethcare/utils/MailTemplateUtils.java
  src/main/resources/RejectBooking.html
Labels: Kim Anh cho lên main đi :>
